/* Variables */


// Colors
$color-primary: #ccc;
$color-secondary: #aaa;


// Background Colors
$background-primary: #333;


// Brand Color
$color-facebook: #3b5998;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-twitter: #55acee;


// Borders
$border-light: 1px solid #efefef;

// Font Family
$font-sans-serif: 'Century Gothic', sans-serif;
$font-serif: 'Playfair Display', serif;


// Font Size
$font-size-biggest: 3rem;
$font-size-larger: 2.5rem;
$font-size-large: 1.5rem;
$font-size-base: 1rem;
$font-size-small: 0.5rem;
$font-size-smallest: 0.75rem;


// Font Weight
$light: 200;
$regular: 400;
$bold: 600;


// Spacing
$spacing-small: 0.20rem;
$spacing-medium: 1rem;
$spacing-big: 3rem;


// Animation



// Media Queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;
